.app {
    background-color: #fafafa;
}

.app__header {
    background-color: #ffffff;
    padding: 20px;
    border-bottom: 1px solid #d3d3d3;
    object-fit: contain;
}

.app__headerImage {
    object-fit: contain;
    margin-left: 10px;
    height: 40px;
}