.login {
  background-color: #f8f8f8;
  height: 100vh;
  width: 100vw;
  display: grid;
  place-items: center;
}
.login__container {
  padding: 100px;
  text-align: center;
  background-color: white;
  border-radius: 10px;
  box-shadow: -1px 4px 20px -6px rgba(0, 0, 0, 0.75);
}
.login__container > img {
  object-fit: contain;
  height: 100px;
  margin-bottom: 40px;
}
.login__container > button {
  margin-top: 50px;
  text-transform: inherit !important;
  background-color: #e706a4 !important;
  color: white;
}

.bi {
    font-size: 80px;
    color:#e706a4 !important;
}

#btn {
    margin-left: 25px;
    margin-right: 15px;
    height: 50px;
    width: 120px;
    font-size: 17px;
}

#gs {
    position: relative;
    top: 50px;
}

#fm{
    position: relative;
    left: -20px;
}

#gsd {
    color: #f8f8f8 !important;
    text-decoration: none;
}

.ipt{
    height: 40px;
    margin-bottom: 20px;
}

.lb {
    margin-right: 10px;
}